html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.page {
    width: 1140px;
    margin: auto;
}

@media screen and (max-width: 1140px) {
    .page {
        width: 100%;
    }
    main {
        flex-wrap: wrap;
        justify-content: center;
    }
    main div:nth-of-type(1) {
        margin-bottom: 0px;
    }
    main div:nth-of-type(2) {
        margin-bottom: 0px;
    }
    main div:nth-of-type(3) {
        margin-bottom: 0px;
    }
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.contact {
    display: flex;
    width: 570px;
    align-items: center;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .contact {
        margin-left: 0px;
    }
}

.adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.adresse img {
    height: 15px;
}

.adresse p {
    color: white;
    font-size: 10px;
}

.phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 103px
}

.phone img {
    height: 15px;
}

.phone p {
    color: white;
    font-size: 10px;
}

.mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 115px;
}

.mail img {
    height: 15px;
}

.mail p {
    color: white;
    font-size: 10px;
}

.reseaux {
    width: 150px;
    height: 50%;
    display: flex;
    justify-content: center;
}

.reseaux img {
    width: 30px;
    margin: -3px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #ede8e8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50%;
    border-top: 3px solid transparent;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.nav {
    width: 620px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

@media screen and (max-width: 780px) {
    .nav p {
        visibility: hidden;
        display: none;
        position:absolute; top:-999px; left:-9999px;
    }
    .fleche {
        visibility: hidden;
        display: none;
        position:absolute; top:-999px; left:-9999px;
    }
    .nav {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 780px) {
    .menu {
        visibility: hidden;
        display: none;
        position:absolute; top:-999px; left:-9999px;
    }
}

.menu img {
    width: 20px;
    margin-right: 10px;
}

.logo img {
    width: 120px;
}

.nav > img {
    width: 20px;
    margin-left: 10px;
}

.nav p {
    border-top: 3px solid transparent;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.nav p:nth-last-child(8) {
    color: #1e71c4;
    border-top: 3px solid #1e71c4;
    height: 100%;
    display: flex;
    align-items: center;
}

.fleche {
    display: flex;
}

.fleche img {
    height: 100%;
    width: 15px;
    display: flex;
    align-items: flex-end;
    border-top: 3px solid transparent;
    margin-right: 10px;
    margin-left: -4px;
}

.blue {
    width: 100%;
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 642px;
}

.blue * {
    margin-left: 100px;
}

h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 35px;
}

.blue p {
    font-size: 30px;
    color: white;
    padding-bottom: 35px;
}

.bouton {
    background-color: #1e71c4;
    display: flex;
    align-items: center;
    width: 171px;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
}

.bouton p {
    font-size: 15px;
    margin: 0;
    align-self: center;
    padding-bottom: 0;
}

main {
    display: flex;
    width: 100%;
}

main div {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

main div img {
    width: 30%;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

main div p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}

main div p:nth-last-of-type(1) {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    background-color: #ede8e8;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-bottom: 20px;
}

footer p {
    font-size: 12px;
}



.p :nth-of-type()